
<div *ngIf="mapdetails">
    <h2><span>Mapdetails</span> {{mapdetails.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Longitude</span></dt>
        <dd>
            <span>{{mapdetails.longitude}}</span>
        </dd>
        <dt><span>Latitude</span></dt>
        <dd>
            <span>{{mapdetails.latitude}}</span>
        </dd>
        <dt><span>Label</span></dt>
        <dd>
            <span>{{mapdetails.label}}</span>
        </dd>
        <dt><span>Category</span></dt>
        <dd>
            <span>{{mapdetails.category}}</span>
        </dd>
        <dt><span>Incompliances</span></dt>
        <dd>
            <span>{{mapdetails.incompliances}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'mapdetails/'+ mapdetails.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
